@import "tailwindcss";

.avatar__container {
  @apply flex flex-wrap justify-around mb-4 py-1;
}

.avatar-border {
  @apply text-xl md:text-2xl py-1 px-2 rounded-full border-2 transition-transform cursor-pointer;
  @apply hover:scale-115 hover:border-yellow-300;
}

.selected {
  @apply border-yellow-400 bg-yellow-300/80 w-10 h-10 scale-120 relative mt-1 shadow-xl;
}

.selected > .avatar {
  @apply text-3xl absolute top-0 right-0 left-0 bottom-0;
}
