@import "tailwindcss";

.game-stats__container {
  @apply flex overflow-hidden flex-col space-x-4 space-y-2 lg:space-y-0 lg:flex-row mb-2;
}

.game-stats__button {
  @apply flex items-center gap-3 cursor-pointer outline-none;
}

.game-stats__button-content {
  @apply flex items-center gap-3 transition-all duration-700 ease-out origin-center;
}

.game-stats__image {
  @apply w-10 h-10 transition-transform duration-700 ease-out group-hover:scale-120;
}

.game-stats__text {
  @apply text-white text-xl transition-all duration-700 ease-out hover:text-blue-200 origin-left group-hover:scale-120;
}

.game-stats-cards {
  @apply overflow-y-scroll transition-all duration-700 ease-out group-hover:scale-120;
}

.game-stats-cards.open {
  @apply max-h-96 opacity-100;
}

.game-stats-cards.close {
  @apply max-h-0 opacity-0 ease-out;
}
