@import 'tailwindcss';

.new-achievement__container {
  @apply py-10 my-6 px-6 flex flex-col items-center bg-gradient-to-br rounded-2xl border-2 border-amber-200/40;
}

.new-achievement-header {
  @apply text-4xl font-bold bg-gradient-to-r from-amber-400 to-yellow-300 bg-clip-text text-transparent pb-2;
}

.new-achievement-header__divider {
  @apply h-0.5 w-full bg-gradient-to-r from-amber-400 to-yellow-400 mt-2 rounded-full;
}

.new-achievement-icon-shine {
  @apply absolute inset-0 bg-yellow-300 blur-xl opacity-80 rounded-full;
}

.new-achievement-title {
  @apply inline-flex items-center bg-gradient-to-r from-amber-100 to-yellow-100 px-4 py-2 rounded-full border border-amber-200
}

.new-achievement-title__text {
  @apply text-amber-700 font-semibold text-xl tracking-wide;
}

.new-achievement-subtitle {
  @apply block text-4xl font-bold bg-gradient-to-r from-amber-400 to-yellow-300 bg-clip-text text-transparent;
}

.new-achievement-record-message {
  @apply block text-white/80 text-sm font-medium mt-2;
}
