@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Righteous', cursive;
  font-weight: 100;
  overscroll-behavior: none;
  height: 100%;
}

html:has(.alert-box-overlay),
body:has(.alert-box-overlay) {
  overflow: hidden;
}
