@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";

* {
  @apply box-border;
}

html, body {
  font-family: 'Righteous', cursive;
  overscroll-behavior: none;
}

html:has(.alert-box-overlay),
body:has(.alert-box-overlay) {
  @apply overflow-hidden;
}
