@import 'tailwindcss';

.dropdown-menu {
  @apply absolute top-full -right-2 mt-2 min-w-[280px] bg-white rounded-xl shadow-2xl border-2 overflow-hidden z-50;
  @apply transition-all duration-300 ease-out transform origin-top-right;
}

.dropdown-menu.open {
  @apply opacity-100 scale-100 translate-y-0;
}

.dropdown-menu.close {
  @apply opacity-0 scale-95 -translate-y-2 pointer-events-none;
}

.user-login__button {
  @apply w-full flex items-center justify-between px-4 py-3 cursor-pointer;
  @apply bg-linear-to-r from-blue-600 to-sky-500 hover:from-blue-700 hover:to-sky-600; 
}

.user-login__button--text {
  @apply transition-transform duration-200 group-hover:scale-110 origin-left;
}
