@import "tailwindcss";

.flashy-title {
  @apply text-sky-500 animate-pulse;
  @apply drop-shadow-[0_0_10px_#00ffff,0_0_20px_#00ffff,0_0_30px_#00ffff];
}

.cool-text {
  /* @apply [-webkit-text-stroke:1px_gray] [text-stroke:1px_gray]; */
  @apply font-bold;
}
