@import "tailwindcss";

.text-input__field {
  @apply flex items-center justify-between p-1 border-2 border-white/50 rounded-lg h-12 text-xl font-medium px-4 w-full outline-transparent;
  @apply transition-all duration-200 ease-in-out;
}

.text-input__field--interactive-states {
  @apply hover:border-white/80 hover:ring-2 hover:ring-white/30;
  @apply active:border-white/90 active:ring-3 active:ring-white/50 active:border-3 active:outline-transparent;
  @apply focus-within:border-white/60 focus-within:ring-3 focus-within:ring-white/30 focus-within:outline-transparent focus-within:scale-105;
}
